package {{packageName}}.infrastructure

import io.ktor.client.request.forms.*
import io.ktor.http.*

data class InputProviderWithFilename(
    val inputProvider: InputProvider,
    val filename: String?
)

fun FormBuilder.appendProvider(key: String, value: InputProviderWithFilename) {
    append(key, value.inputProvider, Headers.build {
        value.filename?.let { filename ->
            append(HttpHeaders.ContentDisposition, ContentDisposition("filename=$filename"))
        }
    })
}