package {{packageName}}.infrastructure

import io.ktor.client.request.forms.*
import io.ktor.http.*
import io.ktor.util.*

data class InputProviderWithFilename(
    val inputProvider: InputProvider,
    val filename: String?
)

@OptIn(InternalAPI::class)
fun FormBuilder.appendProvider(key: String, value: InputProviderWithFilename) {
    append(key, value.inputProvider, Headers.build {
        value.filename?.let { filename ->
            append(HttpHeaders.ContentDisposition, ContentDisposition("filename=\"$filename\""))
            when {
                filename.endsWith(".jpg") || filename.endsWith(".jpeg") -> append(HttpHeaders.ContentType, ContentType("image", "jpg"))
                filename.endsWith(".png") -> append(HttpHeaders.ContentType, ContentType("image", "png"))
                filename.endsWith(".webp") -> append(HttpHeaders.ContentType, ContentType("image", "webp"))
                filename.endsWith(".bmp") -> append(HttpHeaders.ContentType, ContentType("image", "bmp"))
                filename.endsWith(".gif") -> append(HttpHeaders.ContentType, ContentType("image", "gif"))
                filename.endsWith(".mp4") -> append(HttpHeaders.ContentType, ContentType("video", "mp4"))
            }
        }
    })
}